* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v73_42 {
  width: 100%;
  height: 1080px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v73_45 {
  width: 414px;
  height: 60px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 558px;
  left: 753px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v73_46 {
  width: 64px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 570px;
  left: 762px;
  font-family: Aoboshi One;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v73_47 {
  width: 414px;
  height: 60px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 406px;
  left: 753px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v73_48 {
  width: 414px;
  height: 60px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 332px;
  left: 753px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v73_49 {
  width: 216px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 193px;
  left: 852px;
  font-family: Aoboshi One;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v73_50 {
  width: 49px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 418px;
  left: 762px;
  font-family: Aoboshi One;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v73_51 {
  width: 67px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 345px;
  left: 762px;
  font-family: Aoboshi One;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v73_52 {
  width: 414px;
  height: 60px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 480px;
  left: 753px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v73_53 {
  width: 127px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 492px;
  left: 762px;
  font-family: Aoboshi One;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v73_54 {
  width: 76px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 911px;
  left: 922px;
  font-family: Allerta;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v73_56 {
  width: 414px;
  height: 60px;
  background: rgba(0,20,201,1);
  opacity: 1;
  position: absolute;
  top: 773px;
  left: 753px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v73_60 {
  width: 76px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 785px;
  left: 922px;
  font-family: Aoboshi One;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
